<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Economy_Game</title>
    <link rel="stylesheet" href="styles/style_for_header.css" type="text/css">
    <link rel="stylesheet" href="styles/style_for_burger.css" type="text/css">
    <!-- /*--------------------------------these styles are for menu-burger and header, use in all pages!!! ------------------------------------------------*/ -->
    <link rel="stylesheet" href="styles/style_firstpage.css" type="text/css">
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <div class="header_container">
                <div class="header_logo_group">
                    <div class="logo_image">
                        <img src="pictures/pictures_header_burger/logo_game.svg" alt="" class="logo_game">
                    </div>
                    <div class="logo_text">ЭКОНОМИЧЕСКАЯ
                        ИГРА 2022</div>
                </div>
                <div class="logo_text_main">
                   <div class="logo_main_text_element">ЭКОНОМИЧЕСКАЯ </div> 
                   <div class="logo_main_text_element">ИГРА 2022 </div> 
                </div>
                <nav class="header_navigation">
                    <ul class="header_menu">
                        <li class="header_item">
                            <a href="pravila.html" class="header_link">Правила</a>
                        </li>
                        <li class="header_item">
                            <a href="page_slider.html"  class="header_link">Котировки акций</a>
                        </li>
                        <li class="header_item">
                            <a href="map_reu.html" class="header_link">Карта института</a>
                        </li>
                        <li class="header_item">
                            <a href="firstpage.html" class="header_link">Личный кабинет</a>
                        </li>
                        <li class="header_item">
                            <a href="news.html" class="header_link">Новости</a>
                        </li>
                        <li class="header_item">
                            <a href="thanks_itc.html" class="header_link">Спасибо ITC</a>
                        </li>
                    </ul>
                </nav>
                <div class="header_reu_logo"><img src="pictures/pictures_header_burger/logo_reu.svg" alt=""></div>
                <div class="line_burger" id="close_burger"><img src="pictures/pictures_header_burger/burger.svg" alt=""></div>
            </div>
        </header>
       
        <!-- /*-------------------------------- HTML for header, use in all pages!!! ------------------------------------------------*/ -->

        <main class="main">
        
            <div class="main_container">
                <div class="main_container_text">
                    <div class="main_container_maintext">
                        Вход в личный <br>кабинет команды 
                    </div>
                </div>
    
                   
                
                <form class="transparent">
                    <div class="form-inner">

                        

                       <input type="text" 
                       name="username" 
                       required pattern="^[ 0-9]+$" 
                       placeholder="Номер счёта" 
                       class="name"
                       pattern="[a-z]{1,15}"
                       id="username">

                       
        
                    </div>
                    <input class="name1" 
                       type="password" 
                       name="username" 
                       placeholder="Пароль">
                 </form>

                 
                 <a href="twopage.html"><button class="button">
                    Войти
                 </button></a>

                <div class="error">
                    <h4>неверный номер счёта</h4>
                    </div>




            </div>


        </main>


       
    <main class="main">
            
        </main>
        
        <div class="menu_burger" id="menu_id_burger">
            <div class="menu_container">
                <div class="container_flex">
                    <div class="menu_first">
                        <div class="span_line" id="menu_span">
                            <img src="pictures/pictures_header_burger/close.svg" alt="" class="span">
                        </div>
                        <nav class="menu_navigation">
                            <ul class="menu_menu">
                                <li class="menu_item">
                                    <a href="pravila.html" class="menu_link">Правила</a>
                                </li>
                                <li class="menu_item">
                                    <a href="page_slider.html" class="menu_link">Котировки акций</a>
                                </li>
                                <li class="menu_item">
                                    <a href="map_reu.html" class="menu_link">Карта института</a>
                                </li>
                                <li class="menu_item">
                                    <a href="firstpage.html" class="menu_link">Личный кабинет</a>
                                </li>
                                <li class="menu_item">
                                    <a href="news.html" class="menu_link">Новости</a>
                                </li>
                                <li class="menu_item">
                                    <a href="thanks_itc.html" class="menu_link">Спасибо ITC</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="menu_logo">
                        <img class="logo_white" src="pictures/pictures_header_burger/logo_white.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!-- /*-------------------------------- HTML for menu-burger, use in all pages!!! ------------------------------------------------*/ -->

    </div>
    <script src="js_script/script_burger.js"></script>
    <script src="js_script/script_firstpage.js"></script>
    <!-- /*-------------------------------- this script is for menu-burger, use in all pages!!! ------------------------------------------------*/ -->
</body>

</html>