<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/style_for_header.css" type="text/css">
    <link rel="stylesheet" href="styles/style_for_burger.css" type="text/css">

    <!-- /*--------------------------------these styles are for menu-burger and header, use in all pages!!! ------------------------------------------------*/ -->
    <link rel="stylesheet" href="styles/style_news.css" type="text/css">
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <div class="header_container">
                <div class="header_logo_group">
                    <div class="logo_image">
                        <img src="pictures/pictures_header_burger/logo_game.svg" alt="" class="logo_game">
                    </div>
                    <div class="logo_text">ЭКОНОМИЧЕСКАЯ
                        ИГРА 2022</div>
                </div>
                <div class="logo_text_main">
                   <div class="logo_main_text_element">ЭКОНОМИЧЕСКАЯ </div> 
                   <div class="logo_main_text_element">ИГРА 2022 </div> 
                </div>
                <nav class="header_navigation">
                    <ul class="header_menu">
                        <li class="header_item">
                            <a href="pravila.html" class="header_link">Правила</a>
                        </li>
                        <li class="header_item">
                            <a href="page_slider.html"  class="header_link">Котировки акций</a>
                        </li>
                        <li class="header_item">
                            <a href="map_reu.html" class="header_link">Карта института</a>
                        </li>
                        <li class="header_item">
                            <a href="firstpage.html" class="header_link">Личный кабинет</a>
                        </li>
                        <li class="header_item">
                            <a href="news.html" class="header_link">Новости</a>
                        </li>
                        <li class="header_item">
                            <a href="thanks_itc.html" class="header_link">Спасибо ITC</a>
                        </li>
                    </ul>
                </nav>
                <div class="header_reu_logo"><img src="pictures/pictures_header_burger/logo_reu.svg" alt=""></div>
                <div class="line_burger" id="close_burger"><img src="pictures/pictures_header_burger/burger.svg" alt=""></div>
            </div>
        </header>
       
        <!-- /*-------------------------------- HTML for header, use in all pages!!! ------------------------------------------------*/ -->

        <main class="main">
            <div class="main_container">
                <div class="main_container_text">
                    <div class="main_container_maintext">
                        Новости экономической игры
                    </div>
                </div>
    
                   
                    <div class="main_container_text_pravil" id="text_pravil">
                         
                        
                            Ювелирная компания “Moonlight”
                        <br>«Мы никуда не уходим!!» — вот слоган этой ювелирной компании.</br>
                        <br>1) Цены на алмазы вскочили до рекордных показателей. Прибыль компании растёт.</br>
                        2) Компания испытывает трудности, связанные с платиной. Все из-за рэпера, который в предверии своего нового альбома делать себе «самую большую цепь из платины в мире. Что это творит этот Платина<br>
                        3) Несколько часов назад произошло ограбление склада с ювелирными украшениями в Подмосковье. Компания потеряла 60% своих товаров.<br>
                        4) В программе «Жить здорово» Елена Малышева рассказала о полезных свойствах золота на сердечно-сосудистую систему человека. В магазинах Moonlight очереди за изделиями из благородного металла.<br>
                        5) Стоматологический бум. Резко вырос спрос на золотые зубы. Компания адаптировалась к этой ситуации и решила открыть несколько стоматологических клиник в столице. Из услуг: алмазная полировка зубов, лечение кариеса изумрудами и конечно же золотые коронки.<br>
                        6) На Барвихе сгорел главный ювелирный магазин компании.
                         
                    

                    </div>
                    <div class="main_container_text_pravil" id="text_pravil">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                    
                    </div>
                    <div class="main_container_text_pravil" id="text_pravil">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
                    
                    </div>

            </div>
        </main>
        

        <div class="menu_burger" id="menu_id_burger">
            <div class="menu_container">
                <div class="container_flex">
                    <div class="menu_first">
                        <div class="span_line" id="menu_span">
                            <img src="pictures/pictures_header_burger/close.svg" alt="" class="span">
                        </div>
                        <nav class="menu_navigation">
                            <ul class="menu_menu">
                                <li class="menu_item">
                                    <a href="pravila.html" class="menu_link">Правила</a>
                                </li>
                                <li class="menu_item">
                                    <a href="page_slider.html" class="menu_link">Котировки акций</a>
                                </li>
                                <li class="menu_item">
                                    <a href="map_reu.html" class="menu_link">Карта института</a>
                                </li>
                                <li class="menu_item">
                                    <a href="firstpage.html" class="menu_link">Личный кабинет</a>
                                </li>
                                <li class="menu_item">
                                    <a href="" class="menu_link">Новости</a>
                                </li>
                                <li class="menu_item">
                                    <a href="thanks_itc.html" class="menu_link">Спасибо ITC</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="menu_logo">
                        <img class="logo_white" src="pictures/pictures_header_burger/logo_white.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!-- /*-------------------------------- HTML for menu-burger, use in all pages!!! ------------------------------------------------*/ -->
          
    </div>
    <script src="js_script/script_burger.js"></script>
    <!-- /*-------------------------------- this script is for menu-burger, use in all pages!!! ------------------------------------------------*/ -->
</body>

</html>