<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/style_for_header.css" type="text/css">
    <link rel="stylesheet" href="styles/style_for_burger.css" type="text/css">

    <!-- /*--------------------------------these styles are for menu-burger and header, use in all pages!!! ------------------------------------------------*/ -->
    <link rel="stylesheet" href="styles/style_for_thanks.css" type="text/css">
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <div class="header_container">
                <div class="header_logo_group">
                    <div class="logo_image">
                        <img src="pictures/pictures_header_burger/logo_game.svg" alt="" class="logo_game">
                    </div>
                    <div class="logo_text">ЭКОНОМИЧЕСКАЯ
                        ИГРА 2022</div>
                </div>
                <div class="logo_text_main">
                   <div class="logo_main_text_element">ЭКОНОМИЧЕСКАЯ </div> 
                   <div class="logo_main_text_element">ИГРА 2022 </div> 
                </div>
                <nav class="header_navigation">
                    <ul class="header_menu">
                        <li class="header_item">
                            <a href="pravila.html" class="header_link">Правила</a>
                        </li>
                        <li class="header_item">
                            <a href="page_slider.html"  class="header_link">Котировки акций</a>
                        </li>
                        <li class="header_item">
                            <a href="map_reu.html" class="header_link">Карта института</a>
                        </li>
                        <li class="header_item">
                            <a href="firstpage.html" class="header_link">Личный кабинет</a>
                        </li>
                        <li class="header_item">
                            <a href="news.html" class="header_link">Новости</a>
                        </li>
                        <li class="header_item">
                            <a href="thanks_itc.html" class="header_link">Спасибо ITC</a>
                        </li>
                    </ul>
                </nav>
                <div class="header_reu_logo"><img src="pictures/pictures_header_burger/logo_reu.svg" alt=""></div>
                <div class="line_burger" id="close_burger"><img src="pictures/pictures_header_burger/burger.svg" alt=""></div>
            </div>
        </header>
       
        <!-- /*-------------------------------- HTML for header, use in all pages!!! ------------------------------------------------*/ -->

        <main class="main">
            <div class="main_container">
                <div class="main_container_text">
                    <div class="main_container_maintext"> 
                    <h3>Спасибо центру за этот сайт</h3>
                    </div>
                </div>
                <div class="main_container_pictures">
                <div class="picture">
                    <img src="pictures/picture_thanks/it.jpg"  width="200px" padding="30px" id="logo_itc" alt="">
                </div>
                </div>
                    <div class="main_container_maintext"> Наши разработчики:</div>
                   
                    <div class="main_container_text_surname" id="text_surname">
                    <div>36 <a href= "https://vk.com/thirtysixth36" style="color:  #081DC0">https://vk.com/thirtysixth36</a> — product manager</div>
                    <div>SeriouSad  <a href= "https://vk.com/seriousad" style="color:  #081DC0">https://vk.com/seriousad</a> — IT-architect</div>
                    <div>Max.x_x  <a href= "https://vk.com/max.x__x" style="color:  #081DC0">https://vk.com/max.x__x</a> — head of backend</div>
                    <div>haha  <a href= "https://vk.com/pashvd" style="color:  #081DC0">https://vk.com/pashvd</a> — backend-developer</div>
                    <div>lychok  <a href= "https://vk.com/sergeyko9" style="color:  #081DC0">https://vk.com/sergeyko9</a> — backend-developer</div>
                    <div>x|ao  <a href= "https://vk.com/urhomme" style="color:  #081DC0">https://vk.com/urhomme</a> — backend-developer</div>
                    <div>Civa  <a href= "https://vk.com/cornof" style="color:  #081DC0">https://vk.com/cornof</a> — head of frontend</div>
                    <div>Lidia  <a href= "https://vk.com/daniilsokol345" style="color:  #081DC0">https://vk.com/daniilsokol345</a> — frontend-developer</div>
                    <div>borschik  <a href= "https://vk.com/byphotoborschik" style="color:  #081DC0">https://vk.com/byphotoborschik</a> — frontend-developer</div>
                    <div>PavelHouze  <a href= "https://vk.com/pavelhouzemain" style="color:  #081DC0">https://vk.com/pavelhouzemain</a> — frontend-developer</div>
                    </div>

            </div>
        </main>
        

        <div class="menu_burger" id="menu_id_burger">
            <div class="menu_container">
                <div class="container_flex">
                    <div class="menu_first">
                        <div class="span_line" id="menu_span">
                            <img src="pictures/pictures_header_burger/close.svg" alt="" class="span">
                        </div>
                        <nav class="menu_navigation">
                            <ul class="menu_menu">
                                <li class="menu_item">
                                    <a href="pravila.html" class="menu_link">Правила</a>
                                </li>
                                <li class="menu_item">
                                    <a href="page_slider.html" class="menu_link">Котировки акций</a>
                                </li>
                                <li class="menu_item">
                                    <a href="map_reu.html" class="menu_link">Карта института</a>
                                </li>
                                <li class="menu_item">
                                    <a href="firstpage.html" class="menu_link">Личный кабинет</a>
                                </li>
                                <li class="menu_item">
                                    <a href="news.html" class="menu_link">Новости</a>
                                </li>
                                <li class="menu_item">
                                    <a href="thanks_itc.html" class="menu_link">Спасибо ITC</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="menu_logo">
                        <img class="logo_white" src="pictures/pictures_header_burger/logo_white.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!-- /*-------------------------------- HTML for menu-burger, use in all pages!!! ------------------------------------------------*/ -->
          
    </div>
    <script src="js_script/script_burger.js"></script>
    <!-- /*-------------------------------- this script is for menu-burger, use in all pages!!! ------------------------------------------------*/ -->
</body>

</html>