{% extends 'base.html' %}
{% block title %}Карта РЭУ{% endblock %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'styles/style_map_reu.css' %}" type="text/css">
{% endblock %}
{% block content %}
<div class="main_container">
    <div class="main_container_text">
        <div class="main_container_maintext">Карта университета</div>
    </div>
    <div class="main_container_pictures">
        <div class="main_container_image">
            <img  
             src="{% static 'pictures/picrures_map_reu/1к 0э.svg' %}"   
            alt="" class="image_stock" id="image_stock">
        </div>
    </div>

    <div></div>

    <div class="main_container_textandbuttons">
        <div class="main_container_text_company" id="text_company">
            
        </div>
        <div class="main_container_right_button" id="button_right">
            Следующий корпус
        </div>
    </div>


    <div class="main_container_textandbuttons_1">
        <div class="main_container_text_company" id="text_company_1">
            
        </div>
        <div class="main_container_right_button_sec" id="button_right_1">
            Следующий этаж
        </div>
    </div>

<div  class="name" id="textt">
<h2>Номера аудиторий</h2>
     <div class="name" id="text">
    </div>
    <div class="name" id="text2">
    </div>
    <div class="name" id="text3">
    </div>
    <div class="name" id="text4">
    </div>
    <div class="name" id="text5">
    </div>
    <div class="name" id="text6">
    </div>
    <div class="name" id="text7">
    </div>
    <div class="name" id="text8">
    </div>
    <div class="name" id="text9">
    </div>
    <div class="name" id="text10">
    </div>
    <div class="name" id="text11">
    </div>
    <div class="name" id="text12">
    </div>
    <div class="name" id="text13">
    </div>
    <div class="name" id="text14">
    </div>
    <div class="name" id="text15">
    </div>
    <div class="name" id="text16">
    </div>
    <div class="name" id="text17">
    </div>
    <div class="name" id="text18">
    </div>
    <div class="name" id="text19">
    </div>
    <div class="name" id="text20">
    </div>

</div>


{% endblock %}
{% block js %}
<script src="{% static 'js_script/script_map_reu.js' %}"></script>
{% endblock js %}
