{% extends 'base.html' %}
{% block title %}Правила{% endblock %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'styles/style_for_pravila.css' %}" type="text/css">
{% endblock %}
{% block content %}
<div class="main_container">
    <div class="main_container_text">
        <div class="main_container_maintext">
            Правила Экономической игры РЭУ им.Г.В.Плеханова 
        </div>
    </div>
       
        <div class="main_container_text_pravil" id="text_pravil">
        <h2>Цель игры</h2>
        Максимально увеличить свой стартовый капитал за счёт выгодных вложений своих средств: делая ставки на станциях, покупая и продавая акции, делая вклады в банках. 
        </div>

        <div class="main_container_text_pravil" id="text_pravil">
            <h2> Общие правила</h2>
            Начальный капитал: 1100 плех <br>
            Продолжительность игры: 7 лет (3.5 часа) <br>
            В последний год доступны только игровые площадки<br>
            Для проведения и взаимодействия с проектом обязательно присутствие капитана с финансовым паспортом и пластиковой картой<br>
            В случае банкротства Команда имеет право посетить службу занятости, находящуюся в 1,3 и 6 корпусах, но не более 1 раза в каждом.<br>
        
        </div>

        <div class="main_container_text_pravil" id="text_pravil">
            <h2> Станции</h2>
            Игровые станции находятся в 1, 3 и 6 корпуса <br>
            Каждую станцию можно пройти только 1 раз
            <br>Прибыль на станции зависит от ставки команды и сложности станции
            
        </div>

        <div class="main_container_text_pravil" id="text_pravil">
            <h2> Финансовый рынок</h2>
            На финансовом рынке продаются акции компаний, публикуются новости, влияющие на курс акций, а также продаются прогнозы о курсе акций. <br>
            Продажа и покупка акций осуществляется по текущей стоимости и меняется каждый год.<br>
            Дивиденды начисляются каждый год в размере 10% от суммарной стоимости акций.
            
        </div>

        <div class="main_container_text_pravil" id="text_pravil">
            <h2> Банки</h2>
            В стране Плехановка работают 4 банка, каждый из которых имеет разный процент на открытие депозитного счёта или взятия кредита. <br>
            Команда проходит онлайн регистрацию в один из 4-ёх банков до начала игры.<br>
            В случае не погашения кредита за 2 года, за каждый просроченный год ей начисляется штраф в размере 50% от суммы.<br> 
            В случае, если команда не погасит кредит до конца игры, ей начисляется штраф в размере 20% от величины долга.<br>
            Команде выдаётся кредит в размере не более 50% от их текущего депозита. <br>
 
        </div>

        <div class="main_container_text_pravil" id="text_pravil">
            <h2> Бонус</h2>
            В финансовом паспорте есть страница “Чек-лист”, в котором собраны маленькие задания, за выполнение всего списка которых команда получает награду. 

        </div>

        <div class="main_container_text_pravil" id="text_pravil">
            <h2> Запрещается</h2>
            Жульничество, подделка денежных операций и игровых документов, перекредитование.<br>
            Организаторы имеют право взимать штрафы и не осуществлять сомнительные операции. 
            
        </div>

</div>
{% endblock %}
